.Navbar {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
  width: 100%;
  min-height: 39px;
  height: 40px;
  max-height: 40px;
}
.title {
    font-size: 120%;
    margin-top: 1%;
    margin-left: 4%;
}
.indexbtn {
  margin-top: -17px;
  font-size: 121%;
  float: right;
  margin-right: 49px;
  transition: all 0.4s;
}
.link {

}
.indexbtn:hover {
    color: #0070f3;
}
.navbarto {
  display: none;
}
.navbarhi {
  
}
.navbarmo {
  opacity: 0;
}

@media(max-width: 600px) {
    .navbarto {
      display: inline-block;
      background-color: inherit;
      margin-right: 13px;
    }
    .navbarmo {
      opacity: 1;
      transition: all 0.13;
      flex-direction: column;
    }
    .navbarmohi {
      display: none;
    }
    .navbarhi {
      display: none;
      opacity: 0;
  transition: all 0.13s;
  position: absolute;
  color: inherit;
    }
    .title {
      margin-top: -10px;
    }
    
    
}